/* LOgin */
.logo-bg-img{
  background-image: url('./assets/login-bg-1.svg');
  height: 62vh;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}

.logo{
height: 3rem;
}

.logo-header{
  display: flex;
  flex-direction: column;
  color: white;
}

.login-form{
  height: 422px;
  width: 410px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 18px 0 rgba(2,118,179,0.13);
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center; 
}

.login-to-get-started{
  height: 27px;
  width: 176px;
  color: #3F3F3F;
  font-family: "Nunito Sans";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27px;
  text-align: center;
}

.email{
  font-family: "Nunito Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
}

.password{
  font-family: "Nunito Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
}

.rectangle{
  box-sizing: border-box;
  height: 48px;
  width: 337px;
  padding-left: 1rem;
  border-radius: 6px;
}

.btn{
  height: 36px;
  width: 169px;
  border-radius: 18px;
  background-color: #035FB2;
  color: #FFFFFF;
  font-family: "Nunito Sans";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 22px;

}

.hide-password{
  height: 30px;
  width: 24px;
  position: absolute;
  right: 3rem;
  bottom: 9rem;
}

.forgot-password{
  height: 14px;
  color: #025AAB;
  font-family: "Work Sans";
  font-size: 13px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: end;
}
.invalid-credentials{
  height: 19px;
  width: 113px;
  color: #FF3838;
  font-family: "Nunito Sans";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  text-align: center;
  position: absolute;
}
.invalid-desk{
  display: none;
}

.invalid-mob{
  display: block;
}

.currnt-page-text{
  height: 27px;
  width: 133px;
  color: #FFFFFF;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 27px;
}

/* ............................................. */
.main-dashboard{
  border: 9px solid red
}

.sidebar{
  background-color: white;
  height: 768px;
  width: 58px;
}

.mob_nav{
  display: none;
}

.mob-logout{
  height: 20px;
  width: 20px;
}

.topbar{
  background-image: url('./assets/Header-bg.svg');
  height: 150px;
  width: 1308px;
  background-repeat: no-repeat;
  display: flex;
}

/* dashboard */

.overviewcard{
  height: 5rem;
  width: 13.6rem;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 4px 21px 0 rgba(173,182,217,0.27);
}

.total-projects{
  height: 20px;
  width: 110px;
  color: #474D52;
  font-family: "Nunito Sans";
  font-size: 15px;
  letter-spacing: 0;
  line-height: 20px;
}

.proj-num{
  height: 54px;
  width: 102px;
  color: #474D52;
  font-family: "Nunito Sans";
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 54px;

}

.department-wise-to{
   height: 27px;
  width: 491px;
  color: #010202;
  font-family: "Nunito Sans";
  font-size: 20px;
  letter-spacing: 0;
  line-height: 27px;
}

.graph-box{
  height: 387px;
  width: 635px;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 18px 0 rgba(2,118,179,0.13);
}
/* .............................. */
.create-proj{
  display:flex;
   position: absolute;
top: 7rem;
}

.proj-status{
  padding: 1rem;
  padding-right: 18.5rem;
float:right
}


.white-box{
  background-color: white;
  border-radius : 2rem;
  width: 90vw;
  padding: 1rem ;
  background-color: #FFFFFF;
  box-shadow: 0 7px 18px 0 rgba(2,118,179,0.13);
}

.proj-theme{
  width: 60%;
  border: 1px solid #979797;
  border-radius: 6px;
}

.white-box .proj-save-btn{
  border-radius: 20px;
  display: block;
}
.white-box .mob-proj-save-btn{
  display: none;
    }
    .css-1ex1afd-MuiTableCell-root{
      padding: 2px;
    }
    .card-list{
      /* height: 257px;
      width: 328px; */
      border-radius: 10px;
      background-color: #FFFFFF;
      box-shadow: 0 7px 18px 0 rgba(2,118,179,0.13);
    padding: 1rem;
    }

    .card-list h1{
      font-weight: 700;
    }
    .card-list p{
      color: grey;
      padding: .2rem;
    }

    .card{
      display: none;
    }

    .card-btn{
      padding: 1rem;
      background-color: #025AAB;
    }

    .list-table{
      display: block;
    }

    .create-sel-label{
    color:#767676;
    font-family:"Nunito Sans"
    }

    @media (max-width:1024px) {
.tablet-projList{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

      .horizontal-overview{
        margin: 4px, 4px;
        padding: 4px;
        width: 77%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
      }
    }

    @media (min-width:768px) {
     .create-proj{
      height: 100%;
     }

   
    }
   
    @media (max-width:768px) {
      .proj-status{
     padding-right: 1rem;
      }
      .horizontal-overview{
        width: 56%;
      }
     }    

@media (max-width:600px) {
  .sidebar{
    display: none;
  }

  .white-box{      
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 3rem 0rem; */
  }


  .dash_logo{
    height: 53px;
  width: 60px;
    display: none;
  }
  .mob-logout{
    height: 20px;
    width: 20px;
  }
 .white-box .mob-proj-save-btn{
display: block;
margin-bottom: 3rem;
  }
  .white-box .proj-save-btn{
    border-radius: 20px;
    display: none;
  }
  .proj-theme{
    width: 100%;
    border: 1px solid #979797;
  border-radius: 6px;
  }

 
  .card{
    display: block;
  }
  .list-table{
    display: none;
  }
  .mob_nav {
    width: 100vw;
    display: block;
    background-color: white;
    padding: 1rem;
    position: fixed;
    bottom: 0rem;
}
}


@media (max-width:425px) {
  .login-form {
    position: absolute;
    top: 22rem;
  align-items: start;
  }

  .btn{
    width: -webkit-fill-available;
  }
  .logo {
    height: 4rem;
}
.logo-bg-img {
  width: -webkit-fill-available;
}
.invalid-desk{
  display: block;
}
.invalid-mob{
  display: none;
}

/* dashboard */

 .main-dashboard{
    flex-direction: column;
    height: 100vh;
  }

.horizontal-overview{
  margin: 4px, 4px;
  padding: 4px;
  /* width:64%; */
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.overviewcard{
  height: 75px;
  width: 110px;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 7px 18px 0 rgba(2,118,179,0.13);
}
}

@media (min-width:425px) {
.logo-header {
  position: absolute;
  top: 10vh;
}
.invalid-credentials{
  bottom: 2rem;
  }
}